    $black-color: #222222;
    $night-black: #000;
    $silver-black-color: #222224;
    $pink-color: #F1E4E6;
    $dark-pink-color: #F16D7F;
    $gray-color: #F8F8F8;
    $silver-color: #9F9F9F;
    $white-color: #FBFBFB;
    $silver-white-color:#E1E1E1;
    $registration-color: #F8F3F4;
    $space-gray: #A4A4A4;
    $white-silver: #E5E5E5;
    $gray: #575757;
    $white-gray: #656565;
    $gray-to-placeholder: #B1B1B1;
    $silver-gray:#4A4A4A;
    $silver: #F5F3F3;
    $blue-gray: #E2E2E2;