.footer{

&-subscribe{
    min-height: 448px;
}

&-subscribe__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

&-subscribe__background{
    background-image: url("../img/bg__footer.jpg");
    background-size: cover;
}

&-subscribe-support{
    width: 359px;
    margin-top: 86px;
    text-align: center;
}

&-subscribe-support__text{
    @include font(20px, 24px, 400, $night-black);
    padding-top: 30px;
}

.feedback{
margin-top: 150px;
}

.feedback-text{
    @include font(17px, 30px, 400, $silver-black-color);
    text-transform: uppercase;
    text-align: center; 
}

.subscribe{
    @include font(24px, 38px, 700, $night-black);
    display: block;
    text-transform: uppercase;
}

.feedback__form{
    display: flex;
    text-align: center;
    margin-top: 32px;
}

.feedback__email{
    @include font(14px, 14px, 400, $silver-black-color);
    background-color: $silver-white-color;
    border-radius: 22px;
    border: none;
    padding-left: 22px;
    width: 322px;
    min-height: 49px;
    outline: 0;
}

.feedback__button{
    @include font(14px, 17px, 400);
    background-color: $dark-pink-color;
    border: none;
    padding: 7px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 100px;
    min-height: 49px;
    opacity: 1;
    margin-left: -80px;
    outline: 0;
}

&-social{
    background-color: $silver-black-color;
}

&-social__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

&-social__text{
    @include font(16px, 20px, 400);
    text-align: center;
}

&-social__list{
    display: flex;
}

&-social__item{
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

&__svg-img{
    fill: $night-black;
}

&-social__item:hover svg{
    fill: $white-color;
}

&-social__link{
    height: 32px;
    width: 32px;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

&-social__item &-social__link:hover{
    background-color: $dark-pink-color;
}

}