.promotions{

&__list {
    margin: 0 0 63px;
}

&__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

&__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
    flex-direction: column;
}

&__item--woman {
    background-image: url("../img/promotions-woman.jpg");
    background-size: cover;
}

&__item--man{
    background-image: url("../img/promotions-man.jpg");
    background-size: cover;
}
&__item--kids{
    background-image: url("../img/promotions-kids.jpg");
    background-size: cover;
}
&__item--accesories {
    background-image: url("../img/promotions-accesorie.jpg");
    background-size: cover;
}

&__item--accesories {
    width: 100%;
}

&__title{
    @include font(17px, 20px, 400);
    text-transform: uppercase;
    padding-bottom: 10px;
}

&__text{
    @include font(26px, none, 700, $dark-pink-color);
    text-transform: uppercase;
}
}